@font-face
{
    font-family: gameFont;
    src: url(xirod.otf);
}

body
{
    font-family: gameFont;
    background: radial-gradient(circle, violet, teal);
}

h1
{
    color: rgb(69, 0, 104);
    margin: 0 auto;
    text-align: center;
}

.grid-container
{
    display: grid;
    width: 500px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    margin: 10px auto;
}

#flag
{
    height: 30px;
    width: 30px;
    color: darkmagenta;
    font-size: large;
    
}

.dropdown
{
    margin: 10px auto;
}

.highlight
{
    background-color: rgba(175, 1, 175, 0.263);
}

#gameInfo
{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: auto;
}

p
{
    text-align: center;
}